name: Build & Deploy to Home Kubernetes

on:
  push:
    branches: ["main"]

defaults:
  run:
    shell: cmd

jobs:
  build-and-deploy:
    runs-on: self-hosted
    
    environment: production
    
    steps:
      - uses: actions/checkout@v4
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        env:
          DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
          GITHUB_SHA: ${{ github.sha }}
        working-directory: ./portfolio
        run: |
          docker build -t "%DOCKERHUB_USERNAME%/portfolio:%GITHUB_SHA%" -t "%DOCKERHUB_USERNAME%/portfolio:latest" .

      - name: Push Docker image
        env:
          DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
          GITHUB_SHA: ${{ github.sha }}
        run: |
          docker push "%DOCKERHUB_USERNAME%/portfolio:%GITHUB_SHA%"
          docker push "%DOCKERHUB_USERNAME%/portfolio:latest"

      - name: Deploy to Kubernetes
        env:
          DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
          GITHUB_SHA: ${{ github.sha }}
        run: |
          kubectl set image deployment/portfolio "portfolio=%DOCKERHUB_USERNAME%/portfolio:%GITHUB_SHA%"
          kubectl rollout status deployment/portfolio
